<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="dbConnstring" />
  <connectionStrings>
    <!--数据库连接字符串-->
    <!--<add name="dbConnstring" providerName="System.Data.SqlClient" connectionString="server=115.239.252.70;database=tongzi;user id=tongzi;password=tongzi" />-->
    <add name="dbConnstring" providerName="System.Data.SqlClient" connectionString="server=115.239.252.70;database=tongzi_new;user id=tongzi;password=tongzi" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>