<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    注意: 应在 App.config 文件中添加条目，以获取仅适用于
    测试项目的配置设置。
-->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="dbConnstring" />
  <connectionStrings>
    <add name="dbConnstring" connectionString="server=115.239.252.70;database=tongzi_new;user id=tongzi;password=tongzi"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
